<section class="hero">
  <div class="slider-track">
    <ul class="slider">
      <li class="slider-item">
        <%= image_tag asset_path("hero-bg-1.jpg") %>
        <h1>Clases</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam provident vero nobis, sequi, dolores aperiam. Quo optio non eos nobis at, facilis, ea a voluptatibus voluptates doloremque, nisi expedita.</p>
      </li>
      <li class="slider-item">
        <%= image_tag asset_path("hero-bg-2.jpg") %>
        <h1>Clases</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam provident vero nobis, sequi, dolores aperiam. Quo optio non eos nobis at, facilis, ea a voluptatibus voluptates doloremque, nisi expedita.</p>
      </li>
    </ul>
  </div>
</section>

<section class="counter">
  <h1>COUNTER HERE</h1>
</section>
