<section class="counter">
  <span class="counter-title">
    Conteo para el encuentro
  </span>
  <div class="counter-components">
    <span class="counter-component">
      <span class="counter-component-value">
        <span id="counter-days-container-hundred"></span>
        <span id="counter-days-container-ten"></span>
        <span id="counter-days-container-one"></span>
      </span>
      <span class="counter-component-text">Días</span>
    </span>
    <span class="counter-component">
      <span class="counter-component-value">
        <span id="counter-hours-container-ten"></span>
        <span id="counter-hours-container-one"></span>
      </span>
      <span class="counter-component-text">Horas</span>
    </span>
    <span class="counter-component">
      <span class="counter-component-value">
        <span id="counter-minutes-container-ten"></span>
        <span id="counter-minutes-container-one"></span>
      </span>
      <span class="counter-component-text">Minutos</span>
    </span>
    <span class="counter-component">
      <span class="counter-component-value">
        <span id="counter-seconds-container-ten"></span>
        <span id="counter-seconds-container-one"></span>
      </span>
      <span class="counter-component-text">Segundos</span>
    </span>
  </div>
</section>
