<section id="instagram">
  <span class="section-title">
    Lo más nuevo en
    <%= link_to 'instagram', 'https://www.instagram.com/flauteandoenelrio', target: '_blank' %>
  </span>
  <div id="instafeed-slider">
    <%= icon('fas', 'chevron-circle-left', id: 'instafeed-slider-control-left', class: 'instafeed-slider-control') %>
    <div id="instafeed-slider-track-container">
      <div id="instafeed"></div>
    </div>
    <%= icon('fas', 'chevron-circle-right', id: 'instafeed-slider-control-right', class: 'instafeed-slider-control') %>
  </div>
</section>
