<section id="artistas">
  <div class="gallery">
    <% @encuentro.artistas.each do |a| %>
      <%= image_tag a.foto.attached? ? a.foto : 'http://dummyimage.com/800x600/ccc/fff.png',
                    class: 'is-4by3',
                    data: { url: url_for(a) } %>
    <% end %>
  </div>
</section>
