<section id="artistas">
  <div class="gallery">
    <% @encuentro.artistas.each do |a| %>
      <% if a.foto.attached? %>
      <%= image_tag a.foto, class: 'is-4by3' %>
      <% else %>
      <%= image_tag ('http://dummyimage.com/800x600/ccc/fff.png') %>
      <% end %>
    <% end %>
  </div>
</section>
