<section class="gallery">
  <% @encuentro.fotos.each do |f| %>
  <span class="image-crop">
    <%= image_tag f.variant(combine_options: { thumbnail: '700x700^', gravity: 'north', extent: '700x700' }) %>
  </span>
  <% end %>
</section>

<%= render 'layouts/footer' %>
