<%= render 'navbar' %>

<section class="section is-medium has-background-transparent">
  <div class="container">
    <h1 class="title">Flauteando en el Río</h1>
    <h2 class="subtitle">V Encuentro Internacional de Flauta Traversa</h2>
  </div>
</section>
