<h1 class="title is-1 has-text-centered">Administración de Encuentros</h1>

<% if @encuentros.any? %>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Versión</th>
      <th>Título</th>
      <th>Habilitado</th>
      <th class="acciones has-one-icon">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @encuentros.each do |e| %>
      <tr>
        <td><%= e.version %></td>
        <td><%= e.titulo %></td>
        <td><%= icon('fas', 'check') if e.habilitado %></td>
        <td>
          <%= link_to content_tag(:span, icon('fas', 'edit'), class: 'icon tooltip', data: { tooltip: 'Editar concierto', }), edit_admin_encuentro_path(e), class: 'button is-info is-outlined' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<hr>
<p>No existen encuentros registrados.</p>
<% end %>
