<nav role='navigation' class="main-nav" id="navbar-info">
  <ul>
    <li><%= link_to 'Visi贸n', vision_path, data: { command: 'show', title: 'Visi贸n' } %></li>
    <li><%= link_to 'Misi贸n', mision_path, data: { command: 'show', title: 'Misi贸n' } %></li>
  </ul>
</nav>
